<% include header.ejs %>
<head>
	<title>Raw Chat</title>
	<style type="text/css">
		#configure{
			margin-top: 20px;
			background-color: black;
			color: green;
			padding: 20px;
			
		}
		textarea{
			height: 100px;
		}
		.blink_me {
		  animation: blinker 1s linear infinite;
		}

		@keyframes blinker {  
		  50% { opacity: 0; }
		}
	</style>
	<link rel="stylesheet" href="/privatechat.css">
	<script src="/socket/socket.io-client/dist/socket.io.js"></script>
	<script src="/privatechat.js"></script>
	<script type="text/javascript">
		var socket = io.connect();
		function emitUser(){
			socket.emit('new user home',{user:"<%= user.email %>",id:"<%= user._id %>"},function(data){

			})
		}
		jQuery(function($){
			$onlineUser = $('#onlineUser');
			$rawMsg = $('#rawMsg');
			$raw_msg_box = $('#raw_msg_box');
			$configure = $('#configure');
			$notificationBar = $('#notificationBar');
			socket.on('new msg',function(data){
				$configure.append("<span style='color:blue'>" + data.user + ":-" + "</span>" + "<span style='color:red'>" + data.msg + "</span>" + "<br>")
			})
			$raw_msg_box.keypress(function (e) {
				var key = e.which;
				if(key == 13 ){
					if(document.getElementById("enter").checked == true){
						if($raw_msg_box.val()!='' && $raw_msg_box.val()!='@clear'){
							$configure.append("<span style='color:blue'>You"  + ":-" + "</span>" + "<span style='color:lightgreen'>" + $raw_msg_box.val() + "</span>" + "<br>")
							socket.emit('send-msg',$raw_msg_box.val());
							$raw_msg_box.val('')
						}
						else if($raw_msg_box.val()=='@clear'){
							document.getElementById("configure").innerHTML = ""
							$raw_msg_box.val('')
						}
					}

				}
				
				}); 

			$rawMsg.submit(function(e){
				e.preventDefault();
				if($raw_msg_box.val()!='' && $raw_msg_box.val()!='@clear'){
					$configure.append("<span style='color:blue'>You"  + ":-" + "</span>" + "<span style='color:lightgreen'>" + $raw_msg_box.val() + "</span>" + "<br>")
					socket.emit('send-msg',$raw_msg_box.val());
					$raw_msg_box.val('')
				}
				else if($raw_msg_box.val()=='@clear'){
					document.getElementById("configure").innerHTML = ""
						$raw_msg_box.val('')
				}
			})
			setInterval(function(){
				if($raw_msg_box.val()!=''){
					document.getElementById("sendbtn").style.display = "block";
				}
				else{
					document.getElementById("sendbtn").style.display = "none";
				}
			},1);

			socket.on('usernames',function(data){
					var data = Array.from(new Set(data))
					var html = "";
					for(var i=0;i<data.length;i++){
						/*<button class="btn btn-primary">Lal Rishav</button>*/
						html = html + "<button class='btn btn-primary' onclick=\"window.location='chatWith?user=" + data[i] + "'\">" + data[i] + "</button>&nbsp&nbsp&nbsp"
					}
					$onlineUser.html(html)

				})
			socket.on('alert msg',function(data){
				console.log("alert is here");
			})
			socket.on('join request',function(data){
				$('#notificationBar').append("<br>You have new invitation to group " + data.groupName + " <a href='/viewGroup?group="+data+"'>Check out here</a>")
			})
			
			socket.on('notification',function(data){
				var notification = []
				for(var i=0;i<data.length;i++){
					notification.push(data[i].notification)
				}
				notification = Array.from(new Set(notification))
				console.log(notification.length)
				for(var i=0;i<notification.length;i++){
					$('#notificationBar').append(notification[i])
				}
			})
			

		})
	</script>

</head>
<script type="text/javascript">
	function toogle(){
		
		if(document.getElementById('content').text != "CLOSE"){
			document.getElementById('content').text = "CLOSE";
			document.getElementById('onlineUser').style.display="block"
		}
		else{
			document.getElementById('content').text = "Online Users";
			document.getElementById('onlineUser').style.display="none"
		}
		
	}
	(function blink() { 
	  $('.blink_me').fadeOut(500).fadeIn(500, blink); 
	})();
	function toogleNotification(){

	}
</script>

<body onload="emitUser()">
<span class="blink_me" id="notificationBar" style="color: black"></span>

<section>
	<p>
        <a href="#" class="btn btn-info btn-lg" onclick="toogle()" id="content">
          <span class="glyphicon glyphicon-menu-hamburger"></span> Online Users
        </a>
         <a href="#" class="btn btn-info btn-lg" onclick="toogleNotification()" id="notification">
          <span class="glyphicon glyphicon-menu-hamburger"></span> 
        </a>
     </p> 
   <div class="row">
   	<div class="col-md-12" id="onlineUser" style="background-color: lightgreen;height: 70px;padding: 10px;overflow-x: scroll;overflow-y:hidden;white-space: nowrap;display: none">
   	</div>

   	
   </div>
  <div class="mt-2 col-md-12" id="configure" >	
  </div>
  <div class="col-md-12">
  <br>
  	<form id="rawMsg">
        <textarea  placeholder="This is a raw chat!!!Nothing is logged here!!!!Just keep in mind that this is not trusted you may lose your data in this chat" class="form-control" id="raw_msg_box">
        </textarea><br>
        <input type="submit" value="Send" style="display: none" id="sendbtn">
        <input type="checkbox" id="enter">&nbsp&nbsp<b style="color: black">Send message on enter</b>
    </form>
    </div>
</section>
<!---@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2-->




<aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar">

<div class="popup-head">
	<div class="popup-head-left pull-left">
		<h1>LAL RISHAV</h1>
	</div>
	<div class="popup-head-right pull-right">
		<button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-remove"></i>
		</button>
    </div>
</div>

<div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
    <div class="chat_box touchscroll chat_box_colors_a">
        <div class="chat_message_wrapper">
            <div class="chat_user_avatar">
                <img src="http://www.webncc.in/images/gurdeeposahan.jpg" class="md-user-image">
            </div>
          	<ul class="chat_message">
                <li>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? 
                    </p>
                </li>
                <li>
                    <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
                </li>
            </ul>
        </div>
        <div class="chat_message_wrapper chat_message_right">
            <div class="chat_user_avatar">
                <img  src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="md-user-image">
            </div>
            <ul class="chat_message">
                <li>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
                        <span class="chat_message_time">13:34</span>
                    </p>
                </li>
            </ul>
        </div>
                            
    </div>
</div>

<div class="chat_submit_box">
    <div class="uk-input-group">
        <div class="gurdeep-chat-box">
        <input type="text" placeholder="Type a message" id="submit_message" name="submit_message" class="md-input">
        
        </div>
    
    
    </div>
</div>
        
        </div>
</body>