<!DOCTYPE html>
<html>
<head>
	<title>BitChatter</title>
</head>
<body>
	<form action="/register" method="post">
		<input type="text" name="user" placeholder="Enter ur username"><br><br>
		<input type="password" name="pass" placeholder="enter you password"><br><br>
		<input type="submit" value="register">
	</form>
</body>
</html>